*,
*::before,
*::after,
*:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2E3A59;
  background-color: #ebebeb;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font: inherit;
  text-decoration: none;
}

head,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
    padding: 0;
  }
}

.main-page {
  margin-bottom: 100px;
}

.main-page__heading {
  font-size: 24px;
  color: black;
  line-height: 1.1;
  text-align: center;
  padding-top: 30px;
}

@media (min-width: 1024px) {
  .main-page__heading {
    padding-top: 60px;
  }
}

.main-page__content-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main-page__content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .main-page__content-wrapper {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.main-page__image-container {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .main-page__image-container {
    margin-right: 10px;
  }
}

.main-page__image {
  display: block;
  max-width: 300px;
}

.main-page__text {
  max-width: 640px;
  font-size: 16px;
  line-height: 21px;
  color: #535353;
}

.main-page__text-link {
  text-decoration: underline;
  color: grey;
}

.main-page__text-link:hover {
  text-decoration: none;
}

.main-page__button {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  background-color: #535353;
  margin: 0 auto;
  text-align: center;
  padding: 12px 0;
  color: white;
  border: 2px solid #535353;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

@media (min-width: 768px) {
  .main-page__button {
    width: 400px;
  }
}

.main-page__button:hover {
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
}
