@charset "UTF-8";
@font-face {
  font-family: "PT-Root-UI";
  src: url("./fonts/PT-Root-UI_Medium.woff2") format("woff2");
  src: local("☺"), url("./fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after,
*:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PT Root UI", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2E3A59;
  background-color: #ebebeb;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 14px;
}

.main-heading {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.task-box {
  width: 100%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: 40px;
  background-color: #ffffff;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-box-shadow: -7px 7px 14px rgba(218, 218, 218, 0.2), 7px -7px 14px rgba(218, 218, 218, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
          box-shadow: -7px 7px 14px rgba(218, 218, 218, 0.2), 7px -7px 14px rgba(218, 218, 218, 0.2), -7px -7px 14px rgba(255, 255, 255, 0.9), 7px 7px 18px rgba(218, 218, 218, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(218, 218, 218, 0.5);
}

.task1__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.task1__title {
  text-align: center;
  margin-bottom: 60px;
}

.task1__div {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
  width: 200px;
  height: 300px;
  margin: 0 auto;
  background-color: #cad3ff;
  margin-bottom: 40px;
}

.task1__div-desc {
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 5px;
}

.task1__image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 200px;
  max-height: 300px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.top-bar {
  position: fixed;
  width: 100%;
  min-height: 60px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.menu {
  display: block;
  width: 100%;
  min-height: 60px;
}

.menu__list {
  display: block;
  text-align: center;
  min-height: 60px;
  font-size: 0;
}

.menu__item {
  display: inline-block;
  position: relative;
  z-index: 9;
  min-height: 60px;
}

.menu__item:hover {
  color: #772E5F;
}

.menu__link {
  display: block;
  min-height: 60px;
  line-height: 100%;
  padding-top: 21px;
  position: relative;
  z-index: 10;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-color: #ffffff;
}

.menu__link:hover {
  color: #772E5F;
  z-index: 10;
}

.submenu {
  display: block;
  min-width: 100%;
  position: absolute;
  z-index: 9;
  top: -100px;
  left: 0;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transition-delay: 20ms;
       -o-transition-delay: 20ms;
          transition-delay: 20ms;
}

.submenu__item {
  display: block;
  height: 40px;
  position: relative;
  top: -100px;
  left: 0;
  z-index: 9;
  text-align: left;
  padding-top: 12px;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.submenu__item:nth-child(1) {
  -webkit-transition-delay: 50ms;
       -o-transition-delay: 50ms;
          transition-delay: 50ms;
}

.submenu__item:nth-child(2) {
  -webkit-transition-delay: 100ms;
       -o-transition-delay: 100ms;
          transition-delay: 100ms;
}

.submenu__item:nth-child(3) {
  -webkit-transition-delay: 150ms;
       -o-transition-delay: 150ms;
          transition-delay: 150ms;
}

.submenu__link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  z-index: 9;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  color: #2E3A59;
  padding-left: 20px;
  padding-right: 20px;
}

.submenu__link:hover {
  color: #772E5F;
}

.menu__item:hover .submenu__item {
  z-index: 8;
  opacity: 1;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

.menu__item:hover .submenu {
  top: 60px;
}
